 
<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="justify-content-between text-center small ">
      <div class="text-muted ">Copyright © Your Website 2022. Developed by <a href="#!">Softalx Solutions</a> </div>
    </div>
  </div>
</footer>
